
@{
    ViewBag.Title = "Login";
    Layout = "Views/index.cshtml";
}
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnurl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="EmployeeNumber"></label>
        <input asp-for="EmployeeNumber" />
        <span asp-validation-for="EmployeeNumber"></span>
    </div>

    <div>
        <label asp-for="Role"></label>
        <input asp-for="Role" />
        <span asp-validation-for="Role"></span>
    </div>

    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
        <span asp-validation-for="RememberMe"></span>
    </div>
    <input type="submit" value="Login" />
</form>
